/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */

.success_message {
	padding: 10%;
	font-size: 70px;
	line-height: 1.4;
	font-family: "Work Sans", "Helvetica", "sans-serif";
	text-align: center;
}

.grumpy_image {
	text-align: center;
}