<div class="container">

 <div class="row success_message">
    <div class="col-md-12">Oh yeah ! You did it !</div>
  </div>

  <div class="row grumpy_image">
    <div class="col-md-2"></div>
    <div class="col-md-8"><%= image_tag('grumpy_success.png') %></div>
    <div class="col-md-2"></div>
  </div>

</div>